@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    
    --font-sans: "Noto Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-condensed: "Roboto Condensed", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-fira-sans: "Fira Sans", sans-serif;
    --font-kanit: "Kanit", sans-serif;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3; 
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --color-dark: --alpha(var(--color-slate-900) / 25%);
    --color-darker: --alpha(var(--color-slate-900) / 80%);
    --color-darkest: var(--color-slate-900);
    
    --color-muted: var(--color-slate-500);
    --color-light: var(--color-slate-300);
    --color-lighter: var(--color-slate-100);
    --color-lightest: var(--color-slate-50);

    --color-card: --alpha(var(--color-lightest) / 85%);
    --color-card-header: var(--color-lighter);

    --color-live: var(--color-red-600);

    --color-winner: var(--color-black);
    --color-loser: var(--color-muted);

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);

        --color-live: var(--color-yellow-400);
        --color-winner: var(--color-lighter);
        --color-loser: var(--color-muted);

        --color-card: var(--color-dark);
        --color-card-header: --alpha(var(--color-slate-700) / 50%);

    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


.BaseballBases {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 1px 0;
    display: inline-block;
    position: relative;
}

.BaseballBases__Wrapper {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.diamond {
	border-style: solid;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
	transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
}

.first-base, .third-base {
	-ms-flex-item-align: end;
	align-self: flex-end;
}