@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@plugin "@tailwindcss/typography";

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    
    --font-proxima: "proxima-nova", "open Sans", "Helvetica", "Arial", sans-serif;

    /* Re-assign Flux's gray of choice... */
    --color-zinc-50: var(--color-slate-50);    
    --color-zinc-100: var(--color-slate-100);    
    --color-zinc-200: var(--color-slate-200);    
    --color-zinc-300: var(--color-slate-300);    
    --color-zinc-400: var(--color-slate-400);    
    --color-zinc-500: var(--color-slate-500);    
    --color-zinc-600: var(--color-slate-600);    
    --color-zinc-700: var(--color-slate-700);    
    --color-zinc-800: var(--color-slate-800);    
    --color-zinc-900: var(--color-slate-900);    
    --color-zinc-950: var(--color-slate-950);
    
    --color-accent: var(--color-blue-500);    
    --color-accent-content: var(--color-blue-600);    
    --color-accent-foreground: var(--color-white);

    --color-body: var(--color-white);

    --color-dark: --alpha(var(--color-slate-900) / 25%);
    --color-darker: --alpha(var(--color-slate-900) / 80%);
    --color-darkest: var(--color-slate-900);
    
    --color-muted: var(--color-slate-500);
    --color-light: var(--color-slate-300);
    --color-lighter: var(--color-slate-100);
    --color-lightest: var(--color-slate-50);

    --color-card: --alpha(var(--color-lighter) / 10%);
    --color-card-header: var(--color-lighter);

    --color-live: var(--color-red-600);

    --color-winner: var(--color-black);
    --color-loser: var(--color-muted);

    --color-out: var(--color-red-700);
    --color-not-out: var(--color-light);

}

@layer theme {
    .dark {
        
        --color-accent: var(--color-blue-500);        
        --color-accent-content: var(--color-blue-400);        
        --color-accent-foreground: var(--color-white);

        --color-body: var(--color-slate-800);

        --color-live: var(--color-yellow-400);

        --color-winner: var(--color-lighter);
        --color-loser: var(--color-muted);

        --color-out: var(--color-red-700);
        --color-not-out: var(--color-muted);

        --color-card: var(--color-dark);
        --color-card-header: --alpha(var(--color-slate-700) / 50%);

    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


.BaseballBases {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 1px 0;
    display: inline-block;
    position: relative;
}

.BaseballBases__Wrapper {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.diamond {
	border-style: solid;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
	transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
}

.out {
	border-style: solid;
    border-radius: 10px;
    -webkit-transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
	transition: border-color .5s cubic-bezier(.62,.28,.23,.99);
}

.first-base, .first-out, .third-base, .third-out {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.iframe-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
/* Then style the iframe to fit in the container div with full height and width */
.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}